.DS_Store
app/node_modules
app/src/**/*.css
app/src/**/style.css.map
app/public/style/style.css.map
app/public/style/fonts.css.map
server/dist
server/db.sqlite3
server/package-lock.json
server/node_modules

# local env files
.env.local
.env.*.local

# Log files
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
