.letters
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    list-style-type: none
    div
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        border-radius: 4px
        background: white
        border: 1px solid #E9E9E9
        font-family: 'ProximaNova-Semibold', sans-serif
        font-size: 36px
        color: #595959
        margin-right: 20px
        &:last-of-type
            margin-right: 0
    