.profile
    padding-bottom: 40px
    min-height: 100vh
    position: relative

.section
    margin-top: 30px
    padding: 0 160px

    .title
        font-size: 16px
        color: #595959
        opacity: 0.6
        text-transform: uppercase
        &.switch
            display: flex
            align-items: center
    
    .containers
        margin-top: 10px
        display: flex
        justify-content: space-between
        &.hide
            display: none
        
        .container
            position: relative
            background: white
            border-radius: 4px
            border: 1px solid #E0E0E0
            display: flex
            flex-direction: row

            &.of-info
                width: 48%
                min-height: 150px
                &.reverse
                    flex-direction: row-reverse
                
                .avatar
                    width: 150px
                    background: #E0E0E0
                    img
                        width: 100%
                        height: 100%
                        border: none
                        box-shadow: none
                        outline: none

                .container-main
                    width: calc(100% - 150px)
                    display: flex
                    flex-direction: column
                    .info
                        padding: 15px 0 0 20px
                        display: flex
                        flex-direction: column  
                        font-family: 'ProximaNova-Regular', sans-serif
                        height: calc(100% - 30px)
                        &.equal-space
                            .name
                                margin-bottom: 10px
                            p
                                margin-top: 5px
                        .name
                            margin-bottom: 5px
                            span:first-of-type
                                position: relative
                                color: #171717
                                font-size: 20px
                                margin-right: 5px
                                &.right-lined:after
                                    content: ''
                                    position: absolute
                                    width: 1px
                                    height: 20px
                                    top: 2px
                                    right: -10px
                                    background: #979797
                            .username
                                color: #6B6DB8
                                font-size: 18px
                                margin-left: 15px
                        p, a
                            margin: 0 0 5px 0
                            color: #595959
                            font-size: 15px
                            &.lighten
                                font-family: 'ProximaNova-Light', sans-serif
                            &.bigger
                                font-size: 16px
                                margin-bottom: 6px
                    .naming
                        padding: 5px 0 10px 20px
                        width: 100%
                        text-transform: uppercase
                        font-size: 12px
                        color: #595959
                        opacity: 0.6

            &.of-task
                display: flex
                flex-direction: column
                justify-content: space-between
                width: 30%
                padding: 15px
                min-height: 150px
                margin-top: 10px
                &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
                    margin: 0

                .info
                    font-family: 'ProximaNova-Regular', sans-serif
                    p
                        font-size: 14px
                        margin: 10px 0 0 0
                        color: #595959
                        opacity: 0.6

                    .name
                        margin: 0
                        font-size: 18px
                        opacity: 1

            .title
                position: absolute
                left: 0
                top: -30px
                width: 100%
                font-family: 'ProximaNova-Light', sans-serif
                &.right
                    text-align: right

p.no-tasks
    font-family: 'ProximaNova-Regular', sans-serif
    color: #595959

.modal-overlay
    position: absolute
    z-index: 1200
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #D8D8D8
    opacity: 0.6

.modal
    position: absolute
    z-index: 1300
    left: 15%
    top: 15%
    width: 70%
    min-height: 60%
    background: white
    border: 1px solid #E0E0E0
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)
    padding: 20px 40px
    overflow-y: hidden
    .header
        display: flex
        justify-content: space-between
        margin-bottom: 30px
        .title
            font-family: 'ProximaNova-Light', sans-serif
            font-size: 36px
            color: #595959
            opacity: 0.6
            text-transform: uppercase
        i
            opacity: 0.6
            &:hover
                cursor: pointer

    .body
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        padding-bottom: 20px

        .group
            display: flex
            width: 48%
            min-height: 80px
            overflow: hidden
            margin-top: 20px
            border: 1px solid transparent
            transition: 0.3s
            &:first-of-type, &:nth-of-type(2)
                margin-top: 0
            &:hover
                cursor: pointer
                border: 1px solid #6B6DB8
                .avatar
                    border: none
                    border-right: 1px solid #6B6DB8
            .avatar
                width: 80px
                height: 80px
                background: lightgray
                border: 1px solid #979797
                transition: 0.3s
            .info
                width: calc(100% - 80px)
                padding: 10px 0 0 20px
                font-family: 'ProximaNova-Regular', sans-serif
                color: #595959
                p
                    margin: 0
                .name
                    font-size: 20px
                .participants
                    font-size: 14px



@media (max-width: 944px)
    .section .containers .container.of-info .container-main .info .name span:first-of-type.right-lined:after
        content: none

    .section .containers .container.of-info .container-main .info .name
        display: flex
        flex-direction: column
        span
            margin: 0 !important

    .modal
        width: 90%
        top: 10%
        left: 5%

@media (max-width: 850px)
    .section.info .containers
        flex-direction: column
        .container.of-info
            width: 100%
            &:not(:last-of-type)
                margin-bottom: 10px

    .section .containers .container.of-info .container-main .info .name span:first-of-type.right-lined:after
        content: ''

    .section .containers .container.of-info .container-main .info .name
        display: flex
        flex-direction: row
        align-items: center
        span:first-of-type
            margin-right: 5px
        .username
            margin-left: 15px !important

    .modal 
        width: 96%
        left: 2%
        top: 2%
        .body .group
            width: 100%
            &:nth-of-type(2)
             margin-top: 20px

@media (max-width: 850px)
    .section.tasks .containers
        flex-wrap: wrap
        .container.of-task
            width: 48%
            &:nth-of-type(3)
                margin-top: 10px

@media (max-width: 540px)
    .section.tasks .containers
        .container.of-task
            width: 100%
            &:nth-of-type(2)
                margin-top: 10px        
        
@media (max-width: 500px)
    .section .containers .container.of-info 
        .avatar
            display: none
        &.reverse
            flex-direction: row
        .container-main
            width: 100%
            .info
                padding: 15px 20px
    
    .modal
        .header .title
            font-size: 26px

@media (max-width: 395px)
    .section .title
        flex-direction: column
        .switch
            margin: 5px 0 0 -15px

    .modal
        padding: 20px