header
    display: flex
    align-items: center
    background: white
    border-bottom: 1px solid #E0E0E0
    height: 60px
    padding: 0 160px

    &.isNotLoggedIn
        justify-content: center

    &.isLoggedIn
        justify-content: space-between

    .logo
        transform: scale(0.8)

    .navigation
        display: flex
        align-items: center
        justify-content: space-between
        list-style-type: none
        margin: 0
        padding: 0
        li
            display: flex
            align-items: center
            margin-right: 20px
            i
                opacity: 0.6
                transition: 0.2s
                &:hover
                    opacity: 0.7
                    cursor: pointer
