div
    box-sizing: border-box
    
header
    display: flex
    flex-wrap: wrap
    align-items: center
    position: relative
    background: white
    border-bottom: 1px solid #E0E0E0
    min-height: 60px
    padding: 0 160px
    

    &.isNotLoggedIn
        justify-content: center

    &.isLoggedIn
        justify-content: space-between

    .logo
        width: 200px
        &:hover
            cursor: pointer

    .navigation
        display: flex
        align-items: center
        justify-content: space-between
        list-style-type: none
        margin: 0
        padding: 0
        li
            display: flex
            align-items: center
            margin-right: 20px
            &:last-of-type
                margin-right: 0
            i
                opacity: 0.6
                transition: 0.2s
                &:hover
                    opacity: 0.7
                    cursor: pointer
            &.fetch > i
                -webkit-animation: rotate 1s infinite linear
                -moz-animation: rotate 1s infinite linear
                -o-animation: rotate 1s infinite linear
                animation: rotate 1s infinite linear

    .dropdown
        position: absolute
        z-index: 1000
        top: 45px
        width: 200px
        padding: 5px 0 0 0
        background: white
        border: 1px solid #E0E0E0
        box-shadow: 2px 2px 5px #E0E0E0, -2px -2px 5px #E0E0E0
        &.menu
            right: 160px
        &.rounded
            border-radius: 8px
        .dropdown-header
            font-family: 'ProximaNova-Light', sans-serif
            font-size: 16px
            color: #595959
            opacity: 0.6
            text-align: center
            margin-bottom: 5px
        .dropdown-menu
            display: flex
            flex-direction: column
            padding: 0
            margin: 0
            list-style-type: none
            font-family: 'ProximaNova-Regular', sans-serif
            li
                display: flex
                align-items: center
                color: #595959
                padding: 5px 10px
                transition: 0.3s
                &.divider
                    border-top: 1px solid #E0E0E0
                &:hover
                    background: #6B6DB8
                    color: white
                    cursor: pointer
                    a
                        color: white
                a
                    display: flex
                    align-items: center
                    border: none
                    width: 100%
                    height: 100%
                    padding: 0
                    color: #595959
                i
                    opacity: 0.8
                    margin-right: 5px
    .sidebar
        position: absolute
        top: 0
        right: 0
        display: flex
        flex-direction: column
        width: 75%
        height: 100vh
        background: #E9E9EE
        border-left: 2px solid #595959
        z-index: 15000
        .sidebar-header
            display: flex
            align-items: center
            font-family: 'ProximaNova-Bold', sans-serif
            font-size: 28px
            color: #595959
            margin: 60px 0 0 20px
            i
                font-size: 24px
                margin-right: 10px
        .sidebar-menu
            display: flex
            flex-direction: column
            padding: 0
            margin: 60px 0
            background: white
            border: 1px solid #D5D5D9
            list-style-type: none
            li
                display: flex
                align-items: center
                position: relative
                padding: 10px 20px
                color: #595959
                font-size: 18px
                transition: 0.3s
                &.create-group
                    flex-direction: column
                &:after
                    content: ''
                    position: absolute
                    right: 0
                    bottom: 0
                    width: calc(100% - 55px)
                    height: 1px
                    background: #D5D5D9
                &:last-of-type:after
                    content: none
                &.divider
                    border-top: 1px solid #E0E0E0
                &:hover
                    cursor: pointer
                a, span
                    display: flex
                    align-items: center
                    border: none
                    width: 100%
                    height: 100%
                    padding: 0
                    color: #595959
                i
                    opacity: 0.8
                    margin-right: 10px
        button
            width: calc(100% - 40px)
            margin: 0 auto

    .sidebar-overlay
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100vh
        background: #595959
        opacity: 0.7
        z-index: 14999

    .group-creation
        width: 100%
        padding: 10px 0
        display: flex
        align-items: center
        justify-content: flex-end
        input
            width: 200px
        i
            font-size: 20px
            opacity: 0.6
            &:hover
                cursor: pointer
        &.mobile
            flex-direction: column
            justify-content: flex-start
            align-items: center
            input
                text-align: center
                width: 80%
                margin-bottom: 15px
            button
                font-size: 14px


@keyframes rotate
    from
        transform: rotate(360deg)
    to
        transform: rotate(0deg)

@media (max-width: 450px)
    .dropdown.menu
        display: none !important
    .game-creation.desktop
        display: none

@media (min-width: 451px)
    .sidebar, .sidebar-overlay
        display: none !important
    .game-creation.mobile
        display: none