@import url('fonts.css')

body
    background: #F4F4F4

.hide
    display: none

.container
    width: 100%
    padding: 0 160px

@media (max-width: 1160px)
    .container, header
        padding: 0 70px !important

@media (min-width: 601px)
    .humburger
        .search, .notifications
            display: none !important

@media (max-width: 600px)
    .container, header
        padding: 0 20px !important
    
    .navigation
        .search, .notifications
            display: none !important

@media (max-width: 370px)
    .logo
        width: 200px !important