@import url("fonts.css");
input:required, input:invalid {
  box-shadow: none;
}

body {
  background: #F4F4F4;
  font-family: 'ProximaNova-Light', sans-serif;
}

a {
  color: #BFBBBB;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hide {
  display: none !important;
}

.hover:hover {
  cursor: pointer;
}

a.form-link {
  font-family: 'ProximaNova-Regular', sans-serif;
  color: #D7D7D7;
  transition: 0.2s;
}

a.form-link:hover {
  color: #D1D1D1;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  background: white;
  border: 1px solid #E0E0E0;
  width: 350px;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card.rounded {
  border-radius: 8px;
}

.card div {
  padding-left: 40px;
  padding-right: 40px;
}

.card .card-header {
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-size: 36px;
  padding: 20px 0;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 80%;
}

.card .card-body input {
  margin-bottom: 30px;
}

.card .card-body input:last-of-type {
  margin-bottom: 0;
}

.card .card-footer {
  padding: 20px 0;
}

.card .card-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  font-family: 'ProximaNova-Regular', sans-serif;
  color: #CC4D4D;
  background: #EDA3A3;
  border: 1px solid #CC4D4D;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin-top: -60px;
  width: 320px;
  text-align: center;
}

.error-input {
  color: #CC4D4D !important;
}

.underlined {
  text-decoration: underline;
}

input.line-based {
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #979797;
  padding-left: 10px;
  width: 100%;
  transition: 0.2s;
  color: #595959;
}

input.line-based::-webkit-input-placeholder {
  color: #D4D4D4;
}

input.line-based:-moz-placeholder {
  color: #D4D4D4;
}

input.line-based::-moz-placeholder {
  color: #D4D4D4;
}

input.line-based:-ms-input-placeholder {
  color: #D4D4D4;
}

input.line-based:focus {
  outline: none;
  border-color: #626262;
}

input.line-based:focus:-webkit-input-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-moz-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-moz-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-ms-input-placeholder {
  color: #9D9C9C;
}

@media (max-width: 1160px) {
  .section, header {
    padding: 0 70px !important;
  }
  .dropdown.menu {
    right: 70px !important;
  }
}

@media (min-width: 601px) {
  .humburger .search, .humburger .notifications {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .section, header {
    padding: 0 20px !important;
  }
  .dropdown.menu {
    right: 20px !important;
  }
  .navigation .search, .navigation .notifications {
    display: none !important;
  }
}

@media (max-width: 370px) {
  .logo {
    width: 200px !important;
  }
  .card {
    width: 90% !important;
  }
}
/*# sourceMappingURL=style.css.map */