
.section

    .tasks
        display: flex
        align-items: center
        justify-content: space-between

    .titles
        display: flex
        align-items: center
        justify-content: space-between
        
    .title.with-icon
        display: flex
        align-items: center
        vertical-align: middle
        & > i
            opacity: 0.6
            font-size: 20px
            margin-left: 5px
            &:hover
                cursor: pointer
                opacity: 1
                

.containers.task-create
    flex-direction: column
    width: 48%
    .container
        &.of-task
            width: 100%

.containers.task-list
    flex-direction: column
    width: 48%
    
    .container
        &.of-task, &.of-help, &.of-edit
            width: 100%
            input
                padding-left: 0px
                margin-top: 10px
        &.of-help
            display: block
            margin-bottom: 10px
            padding: 15px
        .lightest
            align-self: flex-end
            font-size: 18px
            opacity: 0.6
        &.of-task
            .info
                .name
                    font-size: 24px
                    &.task-create
                        font-size: 22px
                        color: #979797
                        opacity: 1
                .due-date
                    padding-top: 20px
                    margin: 0
                    font-size: 22px
                    color: #979797
                    opacity: 1
                .task-info
                    font-size: 18px
    
    .container
        &.of-edit
            display: flex
            align-items: center !important
        &.of-repeat
            width: 100%
            display: flex
            flex-direction: column
            padding-top: 5px
            min-height: 150px
            margin-top: 10px
            background: transparent
            border: none
        &.game
            margin-top: 10px
            padding: 0px 0px 0px 30px
            width: 100%

.containers.edit-block
    flex-direction: column
    width: 48%

.single-line
    display: flex
    justify-content: space-between
    flex-direction: row


.container-main.menu
    flex-flow: wrap row !important
    width: 100% !important
    
    .menu-item
        display: flex
        width: 50%
        align-items: center
        justify-content: center
        transition: 0.3s
        &:hover
            cursor: pointer
            color: white
            background: #8A8CE6
        &.selected
            cursor: pointer
            color: white
            background: #8A8CE6

.highlighted
    border: 1px solid #8A8CE6 !important


.word-table
    margin-top: 0px !important
    width: 100% !important
    .table-row
        .cell
            &.edit-heading
                margin-bottom: 10px

.word-editor
    display: flex
    flex-direction: column
    align-items: center
    min-height: 25vh

.regular
    &.add-words
        margin-top: 20px
        min-width: 40px
        font-size: 20px
    &.save-words
        margin-top: 10px

input.task
    border-bottom: none
    font-family: 'ProximaNova-Regular', sans-serif
    border: none
    padding-bottom: 0px 
    &.task-name
        font-size: 24px
        width: 100%

.meta-info
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-between
    .date
        align-self: flex-end !important

.gameName
    color: #979797
    font-size: 18px